@model IEnumerable<ControlCash.Models.Gasto>

@{
    ViewBag.Title = "Index";
}

<h2>Gastos</h2>

@Html.ActionLink("Novo Registro", "Create", null, new { @class = "btn btn-success btn-custom" })
<div class="form-group"></div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Tipo de Consumo")
        </th>
        <th>
            @Html.DisplayName("Número de Parcelas")
        </th>
        <th>
            @Html.DisplayName("Valor Total")
        </th>
        <th>
            @Html.DisplayName("Data")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConsumo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nparcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @{
                    String data = item.Date.ToString();
                    data = data.Substring(0, 10);
                }
                @data
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-custom" })
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-custom" })
            </td>
        </tr>
    }

</table>
