@model IEnumerable<ControlCash.Models.Previdencia>

@{
    ViewBag.Title = "Index";
}

<h2>Previdência</h2>

<p>
    @Html.ActionLink("Novo Registro", "Create", null, new { @class = "btn btn-success btn-custom" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Instituição Financeira")
        </th>
        <th>
            @Html.DisplayName("Fundo")
        </th>
        <th>
            @Html.DisplayName("Valor Aplicado")
        </th>
        <th>
            @Html.DisplayName("Data de Aplicação")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fundo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Aplicado)
        </td>
        <td>
            @{
                String data = item.Data_Inicio;
                data = data.Substring(8, 2) + "/" + data.Substring(5, 2) + "/" + data.Substring(0, 4);
            }
            @data
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PrevidenciaID }, new { @class = "btn btn-warning btn-custom" }) 
            @Html.ActionLink("Excluir", "Delete", new { id=item.PrevidenciaID }, new { @class = "btn btn-danger btn-custom" })
        </td>
    </tr>
}

</table>
