@model ControlCash.Models.Renda_Fixa_Pre

@{
    ViewBag.Title = "Delete";
}

    <h3>Renda Pré Fixada - Tem certeza que deseja excluir esse registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Instituição Financeira")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituicao.nome)
        </dd>

        <dt>
            @Html.DisplayName("Emissor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emissor)
        </dd>

        <dt>
            @Html.DisplayName("Papel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Papel)
        </dd>

        <dt>
            @Html.DisplayName("Taxa de Juros anual")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxa_Juros_Ano)
        </dd>

        <dt>
            @Html.DisplayName("Data de início")
        </dt>

        <dd>
            @{
                String data = Model.Data_Inicio;
                data = data.Substring(8, 2) + "/" + data.Substring(5, 2) + "/" + data.Substring(0, 4);
            }
            @data
        </dd>

        <dt>
            @Html.DisplayName("Data de Vencimento")
        </dt>

        <dd>
            @{
                data = Model.Data_Venc;
                data = data.Substring(8, 2) + "/" + data.Substring(5, 2) + "/" + data.Substring(0, 4);
            }
            @data
        </dd>

        <dt>
            @Html.DisplayName("Valor aplicado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Aplicado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Excluir" class="btn btn-danger btn-custom" />
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary btn-custom" })
</div>
    }
</div>
