@model IEnumerable<ControlCash.Models.Gasto>

@{
    ViewBag.Title = "Index";
}
<div class="form-group"></div>
@Html.ActionLink("Situação dos outros meses", "Buscar", null, new { @class = "btn btn-success btn-custom" })
<div class="form-group"></div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Tipo de Consumo")
        </th>
        <th>
            @Html.DisplayName("Número de Parcelas")
        </th>
        <th>
            @Html.DisplayName("Valor Total")
        </th>
        <th>
            @Html.DisplayName("Data")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConsumo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nparcelas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>


<div class="jumbotron">
    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>
</div>
<!--falta organizar os nome ele estão juntos no grafico,
    alem de não inserio nome nos topicos a abaixo do grafico-->
<script>

    $(document).ready(function () {
        $.getJSON("/Relatorio/GetData", function (data) {
            var Nomes = []
            var Somas = []
            for (var i = 0; i < data.length; i++) {
                Somas.push(data[i].Soma);
                Nomes.push(data[i].Nome);

            }
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                xAxis: {
                    categories: Nomes,
                },
                legend: {
                    enabled: true,
                    labelFormatter: function () {
                        var legendIndex = this.index;
                        var legendName = this.series.chart.axes[0].categories[legendIndex];
                        return legendName;
                    }
                },
                title: {
                    text: 'Gastos do mês atual'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },

                series: [{
                    data: Somas
                }]
            });





        });
    });
</script>