@model ControlCash.Models.Questionario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Perg1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perg2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perg3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perg4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perg5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perg6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perg7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perg8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perg8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_Investido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Investido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
